.controller {
  width: 260px;
  height: 180px;
  padding-left: 50px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  background: #a8aaaa;
  z-index: 10;
}
.controller .left-side, .controller .right-side {
  width: 250px;
  height: 210px;
  position: absolute;
  border-radius: 50%;
  background: #a8aaaa;
  z-index: 20;
}
.controller .left-side {
  margin-left: -170px;
}
.controller .left-side .background {
  background: transparent;
  width: 137px;
  height: 137px;
  border: 1px solid #52534E;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 45px;
}
.controller .left-side .horizontal {
  width: 90px;
  height: 30px;
  background: #7D7E82;
  position: absolute;
  top: 85px;
  left: 70px;
  border-radius: 2px;
}
.controller .left-side .vertical {
  width: 30px;
  height: 90px;
  background: #7D7E82;
  position: absolute;
  top: 55px;
  left: 100px;
  border-radius: 2px;
}
.controller .start {
  background: #585D60;
  border: 1px solid black;
  width: 8px;
  height: 25px;
  border-radius: 50px;
  transform: skew(-0.1turn, 18deg);
  position: absolute;
  top: 120px;
  left: 180px;
  z-index: 100;
}
.controller .start p {
  color: #4c4c4c;
  margin-top: 25px;
  margin-left: 8px;
  transform: skew(0.1turn, -18deg);
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  font-variant-caps: all-petite-caps;
}
.controller .select {
  background: #585D60;
  border: 1px solid black;
  width: 8px;
  height: 25px;
  border-radius: 50px;
  transform: skew(-0.1turn, 18deg);
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 100;
}
.controller .select p {
  color: #4c4c4c;
  margin-top: 25px;
  margin-left: 5px;
  transform: skew(0.1turn, -18deg);
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  font-variant-caps: all-petite-caps;
}
.controller .right-side {
  margin-left: 145px;
  transform: rotate(180deg);
}
.controller .right-side .background {
  background: #737A82;
  width: 200px;
  height: 190px;
  border: 1px solid #52534E;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 15px;
}
.controller .right-side .group-1 {
  width: 45px;
  height: 115px;
  background: #BCB7B1;
  border-radius: 30px;
  transform: rotate(45deg);
  position: absolute;
  left: 121px;
  top: 66px;
}
.controller .right-side .group-2 {
  width: 45px;
  height: 115px;
  background: #BCB7B1;
  border-radius: 30px;
  transform: rotate(45deg);
  position: absolute;
  left: 70px;
  top: 26px;
}
.controller .right-side .buttons > a {
  width: 35px;
  height: 35px;
  z-index: 100;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
}
.controller .right-side .buttons > a:nth-child(1) {
  top: 40px;
  left: 98px;
  background: #FFBB4F;
  border-color: #8f632c !important;
}
.controller .right-side .buttons > a:nth-child(2) {
  top: 80px;
  left: 150;
  background: #00916A;
  border-color: #1a6e52 !important;
}
.controller .right-side .buttons > a:nth-child(3) {
  top: 90px;
  left: 50px;
  background: #E83A55;
  border-color: #9c2e38 !important;
}
.controller .right-side .buttons > a:nth-child(4) {
  top: 130px;
  left: 100px;
  background: #004AA5;
  border-color: #22457b !important;
}

/*# sourceMappingURL=main.css.map */
