$main-color: #a8aaaa;

.controller {
  width: 260px;
  height: 180px;
  padding-left: 50px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  background: $main-color;
  z-index: 10;

  .left-side, .right-side {
    width: 250px;
    height: 210px;
    position: absolute;
    border-radius: 50%;
    background: $main-color;
    z-index: 20;
  }

  .trigger {
    width: 100px;
    height: 5px;
    position: absolute;
    z-index: -1;
    background: #737A82;
    top: -4px;
    border-radius: 10px;

    &:after {
      content: "";
      display: block;
      height: 20px;
      width: 60px;
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 65px;
      border-style: solid;
      border-width: 7px;
      border-color: #737A82 transparent transparent transparent;
      border-radius: 50%;
      transform: rotate(-15deg);
    }
  }

  .left-side {
    margin-left: -170px;

    .background {
      background: transparent;
      width: 137px;
      height: 137px;
      border: 1px solid #52534E;
      border-radius: 50%;
      margin-top: 30px;
      margin-left: 45px;
    }

    .trigger {
      left: 90px;
    }

    .horizontal {
      width: 90px;
      height: 30px;
      background: #7D7E82;
      position: absolute;
      top: 85px;
      left: 70px;
      border-radius: 2px;
    }

    .vertical {
      width: 30px;
      height: 90px;
      background: #7D7E82;
      position: absolute;
      top: 55px;
      left: 100px;
      border-radius: 2px;
    }

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: black;
      opacity: 0.2;
      position: absolute;
      top: 90px;
      left: 105px;
    }

    .triangles > a { 
      width: 0; 
      height: 0; 
      position: absolute;
      opacity: 0.2;

      &:nth-child(1) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid black;
        left: 105px;
        top: 60px;
      }

      &:nth-child(2) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid black;
        left: 105px;
        top: 125px;
      }

      &:nth-child(3) {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 15px solid black;
        left: 75px;
        top: 90px;
      }

      &:nth-child(4) {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 15px solid black;
        left: 140px;
        top: 90px;
      }
    }
  }

  .start {
    background: #585D60;
    border: 1px solid black;
    width: 8px;
    height: 25px;
    border-radius: 50px;
    transform: skew(-0.10turn, 18deg);
    position: absolute;
    top: 120px;
    left: 180px;
    z-index: 100;

    p {
      color: #4c4c4c;
      margin-top: 25px;
      margin-left: 8px;
      transform: skew(0.10turn, -18deg);
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
      font-variant-caps: all-petite-caps;
    }
  }

  .select {
    background: #585D60;
    border: 1px solid black;
    width: 8px;
    height: 25px;
    border-radius: 50px;
    transform: skew(-0.10turn, 18deg);
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 100;

    p {
      color: #4c4c4c;
      margin-top: 25px;
      margin-left: 5px;
      transform: skew(0.10turn, -18deg);
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
      font-variant-caps: all-petite-caps;
    }
  }

  .right-side {
    margin-left: 145px;
    transform: rotate(180deg);

    .background {
      background: #737A82;
      width: 200px;
      height: 190px;
      border: 1px solid #52534E;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 15px;
    }

    .trigger {
      left: 90px;
      transform: scaleY(-1);
      top: 209px !important;
    }

    .group-1 {
      width: 45px;
      height: 115px;
      background: #BCB7B1;
      border-radius: 30px;
      transform: rotate(45deg);
      position: absolute;
      left: 121px;
      top: 66px;
    }

    .group-2 {
      width: 45px;
      height: 115px;
      background: #BCB7B1;
      border-radius: 30px;
      transform: rotate(45deg);
      position: absolute;
      left: 70px;
      top: 26px;
    }

    .buttons > a {
      width: 35px;
      height: 35px;
      z-index: 100;
      border: 1px solid black;
      border-radius: 50%;
      position: absolute;

      &:nth-child(1) {
        top: 40px;
        left: 98px;
        background: #FFBB4F;
        border-color: #8f632c !important;
      }

      &:nth-child(2) {
        top: 80px;
        left: 150;
        background: #00916A;
        border-color: #1a6e52 !important;
      }

      &:nth-child(3) {
        top: 90px;
        left: 50px;
        background: #E83A55;
        border-color: #9c2e38 !important;
      }

      &:nth-child(4) {
        top: 130px;
        left: 100px;
        background: #004AA5;
        border-color: #22457b !important;
      }
    }
  }
}
