$main-color: #a8aaaa;

.controller {
  width: 300px;
  height: 150px;
  padding-left: 50px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  background: $main-color;
  z-index: 10;

  .left-side, .right-side {
    width: 250px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background: $main-color;
    z-index: 20;
  }

  .left-side {
    margin-left: -170px;
  }

  .right-side {
    margin-left: 180px;
    transform: rotate(180deg);
  }

  .start {
    background: gray;
    border: 1px solid #4c4c4c;
    width: 8px;
    height: 23px;
    border-radius: 50px;
    transform: skew(-0.10turn, 18deg);
    position: absolute;
    top: 90px;
    left: 200px;
    z-index: 100;

    p {
      color: #4c4c4c;
      font-size: 12px;
      margin-top: 25px;
      margin-left: 8px;
      transform: skew(0.10turn, -18deg);
    }
  }

  .select {
    background: gray;
    border: 1px solid #4c4c4c;
    width: 8px;
    height: 23px;
    border-radius: 50px;
    transform: skew(-0.10turn, 18deg);
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 100;

    p {
      color: #4c4c4c;
      font-size: 12px;
      margin-top: 25px;
      margin-left: 5px;
      transform: skew(0.10turn, -18deg);
    }
  }
}
