$main-color: #a8aaaa;

.controller {
  width: 300px;
  height: 150px;
  padding-left: 50px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  background: $main-color;
  z-index: 10;

  .left-side, .right-side {
    width: 250px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background: $main-color;
    z-index: 20;
  }

  .left-side {
    margin-left: -170px;
  }

  .start {
    background: gray;
    border: 1px solid #4c4c4c;
    width: 8px;
    height: 23px;
    border-radius: 50px;
    transform: skew(-0.10turn, 18deg);
    position: absolute;
    top: 90px;
    left: 200px;
    z-index: 100;

    p {
      color: #4c4c4c;
      font-size: 12px;
      margin-top: 25px;
      margin-left: 8px;
      transform: skew(0.10turn, -18deg);
    }
  }

  .select {
    background: gray;
    border: 1px solid #4c4c4c;
    width: 8px;
    height: 23px;
    border-radius: 50px;
    transform: skew(-0.10turn, 18deg);
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 100;

    p {
      color: #4c4c4c;
      font-size: 12px;
      margin-top: 25px;
      margin-left: 5px;
      transform: skew(0.10turn, -18deg);
    }
  }

  .right-side {
    margin-left: 180px;
    transform: rotate(180deg);

    a {
      width: 30px;
      height: 30px;
      z-index: 100;
      border: 1px solid black;
      border-radius: 50%;
      position: absolute;

      &:nth-child(1) {
        top: 40px;
        left: 95px;
        background: #985b00;
        border-color: #8f632c !important;
      }

      &:nth-child(2) {
        top: 80px;
        left: 150;
        background: #017455;
        border-color: #1a6e52 !important;
      }

      &:nth-child(3) {
        top: 90px;
        left: 50px;
        background: #9c1a26;
        border-color: #9c2e38 !important;
      }

      &:nth-child(4) {
        top: 130px;
        left: 100px;
        background: #014680;
        border-color: #14254b !important;
      }
    }
  }
}
